
<html>
<body>
<div>
<form method="post" enctype="multipart/form-data">
<input type="text" name="autor" placeholder="Enter your name" />
<input type="file" name=file>
<button type="submit">Add</button>
</form>
</div>
<div>Document list</div>
<div>Id|   autor|   docname|   date|   uploaddate|   text|   keywords</div>
{{#messages}}
        <div>
       {{id}}|
       {{autor}}|
       {{docname}}|
       {{dat}}|
       {{uploaddate}}|
       {{text}}|
       {{keywords}}
        </div>
{{/messages}}
</body>
</html>